*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----shared style-----*/
.font_open_inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/*-----main style-----*/
header{
    background-color: #FFFFFF;
    padding-top: 16px;
}

/* ------nav part----- */
nav{
    width: 88%;
    max-width: 1360px;
    margin: 0px auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
nav .menu a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
 .btn{
    background-color: #469165;
    padding: 16px;
    border-radius: 5px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 600;
   /* display: inline-flex; */
}

.btn3{
    background-color: transparent;
    padding: 16.5px 16px 16.5px 46px;
    border-radius: 5px;
    font-weight: 500;
    color: #FFFFFF;
    border: color white 1px;
    cursor: pointer;
    font-size: 600;
    align-items: center;
    display: inline-flex;
}
/* -----banner_part----- */
#banner {
    height: 674px;
    background-image: url(./image/cropped-hands-woman-writing-book\ 1.png);
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    padding-top: 60px;
}
.banner_content{
    padding: 147px 32px 32px 50px;
}
.banner_content p{
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    padding-top: 16px;
}
.banner_content h1{
    font-size: 50px;
}
.btn2{
    width: 229px;
    padding: 8px 12px;
    border-radius: 1000px;
    display: inline-flex;
    align-items: center;
    font-size: medium;
    color: #469165;
}
.button_container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* -----note part----- */
#note{
    width: 100%;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    background-color: #FFFFFFb8;
}
.note_container{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.note_heading{
    text-align: center;
}
.note_heading h2{
    font-size: 36px;
    font-weight: 700;

}
.note_heading p{
    font-size: 16px;
    color: #627382;
    margin-top: 8px;

}
.note_box{
    display: flex;
    gap: 24px;
}
.note_card{
    flex: 1;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 70px 24px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(59, 57, 57, 0.232);
}
.note_card p{
    font-size: 14px;
    color: #627382;
    line-height: 1.5;
}
/* ----brain part---- */
#brain{
    width: 100%;
    height: 850px;
    margin: 120px;
    background-color: #FFFFFF ;
}
.brain_container{
    max-width: 1350px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    margin: 120px;
}
.brain_image img{
    width: 600px;
    height: 600px;
}
.brain_text{
    width: 700px;
    height: 396px;
}
.brain_text h6{
    color: #469165;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}
.brain_text h2{
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    padding-top: 16px ;
}

.brain_text p{
    color: #627382;
    padding-top: 16px;
    font-weight: 400;
}
.brain_list{
    list-style: none;
    padding-top: 40px;
    font-weight: 400;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.brain_list img{
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
}

